@font-face {
    font-family: 'Baloo 2', cursive;
    src: url(../fonts/Baloo2-Regular.ttf);
}

@font-face {
    font-family: 'Baloo 2', cursive;
    src: url(../fonts/Baloo2-Bold.ttf);
}

@font-face {
    font-family: 'Baloo 2', cursive;
    src: url(../fonts/Baloo2-ExtraBold.ttf);
}

@font-face {
    font-family: 'Baloo 2', cursive;
    src: url(../fonts/Baloo2-Medium.ttf);
}

@font-face {
    font-family: 'Baloo 2', cursive;
    src: url(../fonts/Baloo2-SemiBold.ttf);
}